@font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url("Fonts/Poppins-ExtraLight.ttf") format(truetype);
  }




body{
    display: flex;
    justify-content: center;
    background-image:url(Asset/regis.jpg);
    background-size: cover;
}
.form{
    align-items: center;
    text-align: center;
    background-color: white;
    margin-top: 190px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
    opacity: 70%;   
    border: 2px solid lightgray;
}

.form img{
    object-fit: cover;
    width: 250px;
}

.form h3{
    color: black;
    font-family: 'Poppins';
    font-weight: bold;
    opacity: 80%;
   
}

.form input{
    border: 2px solid lightgray;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    font-family:'Poppins';
    font-weight: bold;
    width: 190px;
}

#login{
    background-color: white;
    margin-top: 10px;
    width: 100px;
    cursor: pointer;
    color: black;
}

.form input:focus{
    border: 2px solid lightgray;
}

#login:hover{
    background-color:black;
    color:white;    
}

#google{
    object-fit:cover;
    width: 20px;
    margin-top: 3px;
}

.gugel{
    
    background-color: white;
    border-radius: 10px;
    width: 180px;
    margin-left: 30px;
    margin-top: 10px;
    display: flex;
    padding: 4px;
    border: 3px solid lightgray;
}

.gugel button{
    background-color: white;
    border: 2px solid white;
    font-family:"Poppins-Regular", Helvetica;
    color: black;
    font-size: 11px;
    cursor: pointer;

}

.form h4{
    color: black;
    font-family:'Poppins';
    font-weight: bold;
    font-size: 15px;
    opacity: 80%;
}

#signup{
    background-color:white;
    color: black;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    font-family:'Poppins';
    font-weight: bold;
}

#signup:hover{
    background-color:black;
    color:white;
}

@media only screen and (max-width:600px){
    .form{
        margin-top: 100px;
    }

}
