@font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url("Fonts/Poppins-ExtraLight.ttf") format(truetype);
  }


header{
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 70px;
    box-shadow: -2px 10px 9px 0px rgba(0,0,0,0.48);
    -webkit-box-shadow: -2px 10px 9px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: -2px 10px 9px 0px rgba(0,0,0,0.48);
    border-radius: 10px;
    opacity: 80%;
}


header img{
    object-fit: contain;
    width: 150px;
    margin-left: 20px;
    margin-top: -10px;
}

header button{
    margin-left: 1050px;
    border-radius:20px;
    border: 1px solid white;
    font-family: 'Poppins';
    font-weight: bold;
    cursor: pointer;
    background-color:white;
    color: black;
    height: 30px;
    margin-top: 20px;
    font-size: 15px;
    opacity: 50%;
    border: 2px solid black;
    object-fit: contain;
    width:170px;
}

header button:hover{
    background-color: black;
    color: white;
}

body{
    background-color:lightgray;
    background-size: cover;
}

.form{
    margin-top: 80px;
    margin-left:180px;
    background-color: white;
    width:1100px;
    height: 500px;
    opacity: 80%;
    border-radius: 10px;
    box-shadow: -2px 10px 9px 0px rgba(0,0,0,0.48);
    -webkit-box-shadow: -2px 10px 9px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: -2px 10px 9px 0px rgba(0,0,0,0.48);
    border-radius: 10px;
    
}

.form h1{
    padding: 10px;
    margin-top: 20px;
    margin-left: 40px;
    font-family: 'Poppins';
    font-weight: bold;
    opacity:80%;
    border: 2px solid black;
    border-radius: 20px;
    width: 400px;
    
}

.form input{
    margin-left: 40px;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 10px;
}

.form h2{
    margin-top: -1px;
    margin-left: 40px;
    font-family: 'Poppins';
    font-weight: bold;
}

.form h3{
    visibility: hidden;
}

.formsatu{
    display: flex;
    flex-direction: row;
}

#signin{
    margin-top: 10px;
    width: 180px;
    background-color: gray;
    color: white;
    opacity: 100%;
    margin-left: px;
    border: 2px solid white;
    opacity: 100%;
}

#signin:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.baner{
    background-image: url(Asset/banner1.jpg);
    background-size: cover;
    margin-left: 40px;
    border-radius: 20px;
    width: 570px;
    box-shadow: -2px 10px 9px 0px rgba(0,0,0,0.48);
    -webkit-box-shadow: -2px 10px 9px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: -2px 10px 9px 0px rgba(0,0,0,0.48);
    border-radius: 10px;
    margin-top: -80px;
    
}
.baner h1{
    margin-top: 90px;
    color: white;
    opacity: 100%;
    border: 2px solid white;
    box-shadow: -2px 10px 9px 0px rgba(0,0,0,0.48);
    -webkit-box-shadow: -2px 10px 9px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: -2px 10px 9px 0px rgba(0,0,0,0.48);
    border-radius: 10px;
    width: 450px;
}

#gugel{
    width: 180px;
    margin-top: 10px;
    background-color: #4285F4;
    color: white;
    border: 2px solid white;
}